<mat-toolbar class="dashboard-header">
  <span style="margin-left: 8px;" class="">HealtTrack</span>

  <button mat-icon-button aria-label="Sair">
    <mat-icon>logout</mat-icon>
  </button>

</mat-toolbar>

<div class="dashboard-content">
  <div class="card-container">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>aaaa</mat-card-title>
      </mat-card-header>
      batata
      <mat-card-content>
        <p>aaaaa</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-toolbar color="accent" class="footer">
  Rodapé - Informações adicionais
</mat-toolbar>