<mat-toolbar class="dashboard-header d-flex justify-content-between">
  <div>
    <app-logo />
    <span style="margin-left: 8px;" class="fw-bold">HealtTrack</span>
  </div>

  <div>
    <button mat-icon-button aria-label="Perfil">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button aria-label="Sair">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="dashboard-content p-5">
  <div class="row">
    <!-- Coluna esquerda: 1 card sozinho -->
    <div class="col-7 d-flex justify-content-center">
      <mat-card class="dashboard-card-1 shadow-lg">
        <mat-card-header>
          <mat-card-title>Ficou fácil monitorar sua saúde!</mat-card-title>
        </mat-card-header>
        <hr />
        <mat-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea officia eius harum distinctio ducimus, fuga nihil
          perferendis totam et dicta velit hic enim iste doloremque. Maxime ut porro obcaecati totam?
        </mat-card-content>
        <img src="assets/images/patient-monitoring.jpeg" class="img-fluid m-0 rounded-bottom"
          style="max-height: 280px;">
      </mat-card>
    </div>

    <!-- Coluna direita: 2 cards empilhados -->
    <div class="col-5 align-items-center">
      <div class="mb-4">
        <mat-card class="dashboard-card-2 shadow-lg">
          <mat-card-header>
            <mat-card-title>Pacientes Diabéticos</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime odit consectetur optio, corporis,
            blanditiis aliquam, dolore voluptatum nihil
          </mat-card-content>
          <button class="m-3 rounded-pill" style="background-color: #668284;" (click)="abrirDialog()">
            Registrar niveis de glicose
          </button>
        </mat-card>
      </div>
      <div class="mb-4">
        <mat-card class="dashboard-card-2 shadow-lg">
          <mat-card-header>
            <mat-card-title>Pacientes Hipertensos</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime odit consectetur optio,
          </mat-card-content>
          <button class="m-3 rounded-pill" style="background-color: #668284;" (click)="abrirDialog()">
            Registrar niveis pressão
          </button>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="text-center mt-5">
    <button class="mt-5 rounded-pill" style="background-color: #668284;" (click)="mostrarOuEsconderRegistros()">
      {{ mostrarRegistros ? 'ocultar registros' : 'acessar últimos registros ↴' }}
    </button>
    <div *ngIf="mostrarRegistros" class="mt-4 ">
      <h3 style="color: aliceblue;">Histórico de Registros</h3>
      <table mat-table [dataSource]="registros" class="mat-elevation-z2 " style="width: 80%;">

        <!-- Tipo Column -->
        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef>Tipo</th>
          <td mat-cell *matCellDef="let element">{{ element.tipo }}</td>
        </ng-container>

        <!-- Valor Column -->
        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef>Valor</th>
          <td mat-cell *matCellDef="let element">{{ element.valor }}</td>
        </ng-container>

        <!-- Data Column -->
        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef>Data</th>
          <td mat-cell *matCellDef="let element">{{ element.data }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['tipo', 'valor', 'data']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['tipo', 'valor', 'data'];"></tr>
      </table>
    </div>
  </div>
</div>

<app-footer></app-footer>