@import "../../../../../styles/variables.scss";

.top-login {
  display: flex;

  button {
    border: none;
    padding: 10px 35px;
    border-radius: 0px;
    background: $color-white;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    color: $color-semi-secundary;
    cursor: pointer;
    transition: 1s;
    border-bottom: 1px solid transparent;

    &:hover {
      background-color: $color-low-secundary;
      border-radius: 20px;
    }
  }

  .active-button {
    color: $color-secundary;
    border-bottom: 1px solid $color-primary;
    transition: 1s;
    cursor: unset;

    &:hover {
      background-color: transparent;
      border-radius: 0;
    }
  }
}
