$color-primary: #668284;
$color-secundary: #b9d7d9;
$color-semi-secundary: rgba(51, 78, 92, 0.6);
$color-white: #fff;
$color-red: #db1b1b;
$color-grey-background: #ebf4f4;
$color-low-secundary: rgba(51, 78, 92, 0.1);
$color-dark: #2a2829;
$color-green: #5f8d4e;
