$color-primary: #668284;
$color-secundary: #334e5c;
$color-semi-secundary: rgba(51, 78, 92, 0.6);
$color-brighter: #59e7de;
$color-darker: #227e74;
$color-semi-black: rgba(0, 0, 0, 0.5);
$color-white: #fff;
$color-button-white: #d5f5f1;
$color-red: #db1b1b;
$color-grey-background: #ebf4f4;
$color-shadow-secundary: rgba(51, 78, 92, 0.25);
$color-low-secundary: rgba(51, 78, 92, 0.1);
$color-dark: #2a2829;
$color-green-light: #b9d7d9;
