<header class="header">
  <div class="logo-container">
    <a href="" class="logo-link">
      <app-logo />
      <span class="logo-text">HealthTrack</span>
    </a>
  </div>
  <nav class="nav-container">
    <ul class="nav-list">
      <li class="nav-item">
        <a routerLink="/pacients" class="nav-link">Paciente</a>
      </li>
      <li class="nav-item">
        <a routerLink="/doctors" class="nav-link">Médicos</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact" class="nav-link">Contato</a>
      </li>
    </ul>
  </nav>
  <div class="user-actions">
    <button (click)="navigateToLogin()">Login</button>
    <button (click)="navigateToRegister()">Cadastro</button>
  </div>
</header>
