<h2 mat-dialog-title>Editar Registro</h2>
<mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Data</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="data.date"
        name="date"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker [startAt]="data.date"></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Pressão Sistólica</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="data.systolic"
        name="systolic"
        required
      />
      <span matSuffix>mmHg</span>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Pressão Diastólica</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="data.diastolic"
        name="diastolic"
        required
      />
      <span matSuffix>mmHg</span>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Glicose</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="data.glucose"
        name="glucose"
        required
      />
      <span matSuffix>mg/dL</span>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial color="primary">
    Salvar
  </button>
</mat-dialog-actions>
